<% if @name %>
<center><h1> My name is <%= @name %></h1>
<% else %>

<form action="/named-red_panda">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form></center>
<% end %>

<style>
img {
  width:100%
}
.rainbow-box {
  background-color: #302244;
  border: 10px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: auto;
  width: 75%;
}
</style>

  <center> <div class="rainbow-box"><img
  src='https://paradisepark.org.uk/wp-content/uploads/2019/02/Lang-Za-in-Dec-2008-at-Paradise-Park-in-Hayle-Cornwall-768x512.jpg'
  > </div></center>
